/* Reset some default styles */
body, h1, h2, h3, p, a {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #f4f4f4;
    background-color: #444;
}

header {
    background: #444;
    color: #f4f4f4;
    padding-bottom: 60px;
}

nav {
    background: #333;
    padding: 15px 0;
}

.navlogo {
    list-style: unset;
    display: flex;
}

.nav-links {
    list-style: none;
    display: flex;
    justify-content: center;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    color: #f4f4f4;
    text-decoration: none;
    font-size: 1rem;
}

.nav-links a:hover {
    text-decoration: underline;
}

.logo img {
    height: 50px;
    display: flex;
}

.hero {
    text-align: center;
    padding: 80px 20px;
    background: #444;
    height: 100vh;
    font-size: 4rem;
    font-family: serif;
}

.hero h1 {
    margin-bottom: 20px;
    font-size: 2.5rem;
}

.hero p {
    margin-bottom: 20px;
    font-size: 4.2rem;
}

/* .cta-button {
    display: inline-block;
    padding: 15px 30px;
    font-size: 1rem;
    color: #fff;
    background: #555;
    text-decoration: none;
    border-radius: 5px;
}

.cta-button:hover {
    background: #666;
} */

section {
    padding: 60px 20px;
    text-align: center;
}

section h2 {
    margin-bottom: 20px;
    font-size: 2rem;
}

.feature {
    margin-bottom: 30px;
}

footer {
    background: #222;
    color: #f4f4f4;
    padding: 20px;
    text-align: center;
    position: relative;
    bottom: -5350px;
    text-transform: uppercase;

}

.container {
    width: 80%;
    margin: 0 auto;
}

.container_header {
 text-align: center;
}
